@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Roboto-Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  min-width: 400px;
  min-height: 480px;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: "Roboto-Light"
}

#dataContainer::-webkit-scrollbar {
  width: 8px;
}

#dataContainer::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 20px;
  border: 3px solid black;
}

#dataContainer {
  scrollbar-width: thin;
  scrollbar-color: #bebebe;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #d9d9d9;
  width: 30%;
  height: 30%;
  margin-right: 20%;
}