:root {
    --create-button-color: rgba(0, 98, 255, 0.9);
    --create-button-color-hover: rgba(0, 98, 255, 1);
    --create-button-border: rgb(0, 98, 255)
}

#createDeviceButton {
    background-color: var(--create-button-color);
    border: 2px solid var(--create-button-border);
}

#createDeviceButton:hover {
    background-color: var(--create-button-color-hover);
    border: 2px solid var(--create-button-border);
}