:root {
    --delete-button-color: rgba(0, 98, 255, 0.9);
    --delete-button-color-hover: rgba(0, 98, 255, 1);
    --delete-button-border: rgb(0, 98, 255);
}

#deleteDeviceButton {
    background-color: var(--delete-button-color);
    border: 1px solid var(--delete-button-border);
}

#deleteDeviceButton:hover {
    background-color: var(--delete-button-color-hover);
    border: 1px solid var(--delete-button-border);
}

.deleteButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%
}

.deleteButtonContainer i {
    cursor: pointer;
}