:root {
    --delete-button-popup: rgba(2, 35, 66, 0.9);
    --delete-button-popup-hover: rgba(2, 35, 66, 1);
    --delete-button-popup-border: rgb(2, 35, 66);
}

#deleteDeviceButton {
    background-color: var(--delete-button-popup);
    border: 1px solid var(--delete-button-popup-border);
}

#deleteDeviceButton:hover {
    background-color: var(--delete-button-popup-hover);
    border: 1px solid var(--delete-button-popup-border);
}

.deleteButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%
}

.deleteButtonContainer i {
    cursor: pointer;
}