:root {
    --table-header-color: rgba(0, 98, 255, 0.9);
}

#tableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

#headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    font-family: 'Roboto-Medium';
    background-color: var(--table-header-color);
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#headerContainer>div {
    border-left: 1px solid #f3f3f3;
}

.tableRows {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddddd;
}

#dataContainer .tableRows:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.sortable-table-header {
    cursor: pointer;
}

.sortable-table-header .sortIcon i {
    font-size: 1.2rem;
}

.sortable-table-header .sortIcon {
    position: relative;
    right: 5%;
}

.sortable-table-header:not(.selected) .sortIcon i {
    visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.sortable-table-header:not(.selected):hover .sortIcon i {
    visibility: visible;
    opacity: 1;
}