:root {
    --update-button-popup: rgba(2, 35, 66, 0.9);
    --update-button-popup-hover: rgba(2, 35, 66, 1);
    --update-button-popup-border: rgb(2, 35, 66);
}

#updateDeviceButton {
    background-color: var(--update-button-popup);
    border: 1px solid var(--update-button-popup-border);
}

#updateDeviceButton:hover {
    background-color: var(--update-button-popup-hover);
    border: 1px solid var(--update-button-popup-border);
}

.updateButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%
}

.updateButtonContainer i {
    cursor: pointer;
}

.titleHeader {
    color: #ffffff;
    background-color: #022342;
}

.titleHeader>button {
    opacity: 1;
    filter: brightness(0) invert(1);
}